@{
    ViewData["Title"] = "Menu";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<section class="tan-background">
    <div class="container p-5">
        <h1 class="display-3 text-center mb-5">Entrees</h1>
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/tacosalad.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Taco Salad</h5>
                        <p class="card-text">$9.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/burrito.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Burrito</h5>
                        <p class="card-text">$9.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/fajitas.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fajitas</h5>
                        <p class="card-text">$12.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/quesadilla.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Quesadillas</h5>
                        <p class="card-text">$9.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <h1 class="display-3 text-center mb-5">Specials</h1>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/street-tacos.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Burrito and 2 Tamales</h5>
                        <p class="card-text">$12.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/street-tacos.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">2 Tacos and 2 Tamales</h5>
                        <p class="card-text">$9.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/street-tacos.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">2 Pork Burritos</h5>
                        <p class="card-text">$12.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/carneasada.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Carne Asada</h5>
                        <p class="card-text">$19.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <h1 class="display-3 text-center mb-5">Sides</h1>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/rice_and_beans.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rice and Beans</h5>
                        <p class="card-text">$2.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/tamales.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">2 Tamales</h5>
                        <p class="card-text">$4.99</p>
                        <a href="#" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/taco.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">2 Tacos</h5>
                        <p class="card-text">$6.99</p>
                        <a id="btn" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="https://cwi-swdv280-capstone-2022.s3.us-west-2.amazonaws.com/quesadilla.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Quesadilla</h5>
                        <p class="card-text">$5.99</p>
                        <button id="btn" class="btn green-background text-light">Add to cart &nbsp; <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const button = document.getElementbyId("btn");

    button.addEventListener("click", () => {
        alert("button is clicked");
    })
</script>
<style>
    .dark-green-background {
        background-color: #386641;
    }

    .green-background {
        background-color: #6A994E;
    }

    .light-green-background {
        background-color: #A7C957;
    }
    .tan-background {
        background-color: #F2E8CF;
    }
</style>


